@model SmsManagementSystem.Models.CgppOffice

@{
    ViewBag.Title = "Create Office Sms Management System";
    Layout = (int)Session["Role_Id"] == 1 ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}
@Styles.Render("~/Content/css4")
@Scripts.Render("~/bundles/modernizr")
@*<h2>@((int)Session["Role_Id"] == 1 ? "Admin" : "User")</h2>*@
@*<style>
        .form-grids {
            display: inline-block;
            width: 700px;
            margin-left: 140px;
        }
    </style>*@

<h3 class="title1">DELETE OFFICES</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-two widget-shadow">
        <div class="form-title">
            <h4 style="color: #6F6F6F;">Delete Office Form :</h4>
        </div>
        <div class="form-body" data-example-id="simple-form-inline">
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2"> Office Name <i class="fa fa-building"></i> </label>
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    <div class="row"></div>
                <div class="text-center">
                    <input type="submit" value="DELETE" class="btn btn-default" style="width: 120px; color:white; margin:auto; background-color: rgba(97, 100, 193, 0.85); height: 50px; border-radius: 20px; font-weight: 800;" />
                </div>
                </div>
            </form>
        </div>
    </div>





    <script src="~/Scripts/fontawesome.js"></script>
    <script src="~/Scripts/fontawesome.min.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
@section scripts{

    <script type="text/javascript">

    </script>
}




