
@{
    ViewBag.Title = "Display Draft Message Sms Management System";
    Layout = (int)Session["Role_Id"] == 1 ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}

@*<h2>@((int)Session["Role_Id"] == 1 ? "Admin" : "User")</h2>*@
@{
    ViewBag.Title = "Draft List";
}
<style>
    body {
        background-color: #242529 !important;
    }
</style>
<body style=" background-color: #242529 !important;">
    <div class="container" style="background-color: #1d1e22ed; width: 120%; padding: 62px; border-radius: 50px;border: 1px solid #CAC280; margin-left:-130px ">

        <div class="text-left " style="padding-bottom: 2%">
            <button class="btn btn-success" style="display: inline; float:right;" onclick="location.href = '@Url.Action("Create", "Drafts")' ">ADD MESSAGE   <span class="fa fa-commenting" style="color:red">  </span></button>

        </div>
        <h2 style="color: white; font-family: 'Californian FB'">DISPLAY DRAFTSLIST </h2>

        <table id="searchTable" class="ui celled table ">
            <thead></thead>
        </table>

        <table id="draftlisttable" class="ui celled table" style="background-color: #242529; color: white; border: 1px solid #CAC280; ">

            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th> MESSAGE</th>
                    <th>SEND</th>
                    <th>OFFICE NAME</th>
                    <th>DIVISION NAME </th>
                    <th>USERNAME</th>
                    <th>DATE ADDED</th>
                    <th>CELL N0.</th>
                    <th>CELL# OWNER</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>MESSAGE</th>
                    <th>SEND</th>
                    <th>OFFICE NAME</th>
                    <th>DIVISION NAME</th>
                    <th>USERNAME</th>
                    <th>DATE ADDED</th>
                    <th>CELL N0.</th>
                    <th>CELL# OWNER</th>
                    @*@foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.draftId</td>
                                <td>@user.msg</td>
                                <td>@user.tag</td>
                                <td>@user.oficeName</td>
                                <td>@user.divisionName</td>
                                <td>@user.username</td>
                                <td>@user.Dateadded</td>
                                <td>@user.cellphonenum</td>
                                <td>@user.sendToName</td>
                            </tr>
                        }*@
                </tr>
            </tfoot>
        </table>
    </div>
    <link href="~/Content/DraftsDatatable/dataTables.semanticui.min.css" rel="stylesheet" />
    <link href="~/Content/DraftsDatatable/ajax.css" rel="stylesheet" />
    <script src="~/Scripts/DraftsDatatableJS/datatable1.js"></script>
    <script src="~/Scripts/DraftsDatatableJS/datatable3.js"></script>
    <script src="~/Scripts/DraftsDatatableJS/datatable2.js"></script>
    <script src="~/Scripts/DraftsDatatableJS/datatable4.js"></script>




    @*<link href="~/lib/datatables.net-jqui/dataTables.jqueryui.css" rel="stylesheet" />
    <link href="~/lib/datatables.net-jqui/dataTables.jqueryui.min.css" rel="stylesheet" />
    <script src="~/lib/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>*@

    @section scripts{


        <script>
            $(document).ready(function () {
                var timeout = "";

                var empTable = $("#draftlisttable").DataTable({
                    "ajax": {
                        "scrollY": 500,
                        "scroller": true,
                        "responsive": true,
                        "serverSide": true,
                        "url": "/Drafts/LoadData",
                        "type": "POST",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "draftId", "name": "draftId" },
                        { "data": "msg", "name": "msg" },
                        { "data": "tag", "name": "tag" },
                        { "data": "oficeName", "name": "oficeName" },
                        { "data": "divisionName", "name": "divisionName" },
                        { "data": "username", "name": "username" },
                        { "data": "Dateadded", "name": "Dateadded" },
                        { "data": "cellphonenum", "name": "cellphonenum" },
                        { "data": "sendToName", "name": "sendToName" },


                    ],
                    "serverSide": "true",
                    "order": [0, "asc"],
                    "processing": "true",
                    "language": {
                        "processing": "processing... please wait"
                    },
                    "dom": '<"top"l>rt<"bottom"ip><"clear">',
                    "fnInitComplete": function (oSettings, json) {
                        addSearchControl(json);
                    },
                    searchDelay: 350
                });
                function addSearchControl(json) {
                    $("#searchTable thead").append($("#draftlisttable thead tr:first").clone());
                    $("#searchTable thead tr:eq(0) th").each(function (index) {

                        $(this).replaceWith('<th><input type="text" placeholder="SEARCH  ' + $(this).html() + '"></input></th>');
                        var searchControl = $("#searchTable thead tr:eq(0) th:eq(" + index + ") input");


                        searchControl.on('keyup', function () {
                            clearTimeout(timeout);
                            timeout = setTimeout(function () {
                                empTable.column(index).search(searchControl.val()).draw();
                            }, 1000)
                        });
                    });
                }
            });
        </script>
    }
</body>
