@model IEnumerable<SmsManagementSystem.Models.User>
@{
    ViewBag.Title = "Display Division Sms Management System";
    Layout = (int)Session["Role_Id"] == 1 ? "~/Views/Shared/_LayoutAdmin.cshtml" : "~/Views/Shared/_LayoutUser.cshtml";
}
<style>
    body {
        background: url(/images/2.jpg) no-repeat 100% 100%;
    }

    td {
        border-bottom: 1px solid black !important;
        color: black;
    }

    #login-modal .modal-dialog {
        width: 350px;
    }

    #login-modal input[type=text], input[type=password] {
        margin-top: 10px;
    }

    #div-login-msg,
    #div-lost-msg,
    #div-register-msg {
        border: 1px solid #dadfe1;
        height: 30px;
        line-height: 28px;
        transition: all ease-in-out 500ms;
    }

        #div-login-msg.success,
        #div-lost-msg.success,
        #div-register-msg.success {
            border: 1px solid #68c3a3;
            background-color: #c8f7c5;
        }

        #div-login-msg.error,
        #div-lost-msg.error,
        #div-register-msg.error {
            border: 1px solid #eb575b;
            background-color: #ffcad1;
        }

    #icon-login-msg,
    #icon-lost-msg,
    #icon-register-msg {
        width: 30px;
        float: left;
        line-height: 28px;
        text-align: center;
        background-color: #dadfe1;
        margin-right: 5px;
        transition: all ease-in-out 500ms;
    }

        #icon-login-msg.success,
        #icon-lost-msg.success,
        #icon-register-msg.success {
            background-color: #68c3a3 !important;
        }

        #icon-login-msg.error,
        #icon-lost-msg.error,
        #icon-register-msg.error {
            background-color: #eb575b !important;
        }

    #img_logo {
        max-height: 100px;
        max-width: 100px;
    }

    /* #########################################
   #    override the bootstrap configs     #
   ######################################### */

    .modal-backdrop.in {
        filter: alpha(opacity=50);
        opacity: .8;
    }

    .modal-content {
        width:500px;
        background-color: #ececec;
        border: 1px solid #bdc3c7;
        border-radius: 0px;
        outline: 0;
    }

    .modal-header {
        min-height: 16.43px;
        padding: 15px 15px 15px 15px;
        border-bottom: 0px;
    }

    .modal-body {
        position: relative;
        padding: 5px 15px 5px 15px;
    }

    .modal-footer {
        padding: 15px 15px 15px 15px;
        text-align: left;
        border-top: 0px;
    }

    .checkbox {
        margin-bottom: 0px;
    }

    .btn {
        border-radius: 0px;
    }

        .btn:focus,
        .btn:active:focus,
        .btn.active:focus,
        .btn.focus,
        .btn:active.focus,
        .btn.active.focus {
            outline: none;
        }

    .btn-lg, .btn-group-lg > .btn {
        border-radius: 0px;
    }

    .btn-link {
        padding: 5px 10px 0px 0px;
        color: #95a5a6;
    }

        .btn-link:hover, .btn-link:focus {
            color: #2c3e50;
            text-decoration: none;
        }

    .glyphicon {
        top: 0px;
    }

    .form-control {
        border-radius: 0px;
    }
</style>
<span style="display:none;" id="Message" class="d-none">@TempData["Message"]</span>


<div class="table-responsive bs-example widget-shadow">
    <h2 style="color: black; font-weight: 800; BACKGROUND-COLOR: #EAEAEA; HEIGHT: 50px;">DISPLAY USERLIST TABLE</h2>
    <br />
    @{
        if ((int)Session["Role_Id"] == 1)
        {
            <button class="btn btn-default" style="display: inline; float: right; background-color: #5F67BE; color: white; font-weight: 800; " onclick="location.href = '@Url.Action("UserRegistration", "Manage")' ">ADD USER   <span class="fa fa-user-o" style="color:black">  </span></button>
        }
    }
    <table class="table table-hover" id="draftList">

        <thead>
            <tr>
                <th style="font-family:Cambria; display:none;">ID </th>
                <th style="background-color: #EAEAEA; color: #6F6F6F; ">Full Name <br /> <i class="fa fa-building"> </i></th>
                @{
                    if ((int)Session["Role_Id"] == 1)
                    {
                        <th style="background-color: #EAEAEA; color: #6F6F6F; ">User Name <br /> <i class="fa fa-building-o"> </i></th>
                        @*<th style="background-color: #EAEAEA; color: #6F6F6F; ">Password<br /><i class="fa fa-key"> </i> </th>*@
                    }

                }

                <th style="background-color: #EAEAEA; color: #6F6F6F; ">Email Address <br /><i class="fa fa-envelope"> </i> </th>
                @{
                    if ((int)Session["Role_Id"] == 1)
                    {
                        <th style="background-color: #EAEAEA; color: #6F6F6F; ">Office Name <br /><i class="fa fa-building-o"> </i> </th>
                        <th style="background-color: #EAEAEA; color: #6F6F6F; ">Division Name <br /><i class="fa fa-building"> </i> </th>
                    }
                }
                <th style="background-color: #EAEAEA; color: #6F6F6F; ">Date Added <br /> <i class="fa fa-calendar-check"> </i> </th>
                <th style="background-color: #EAEAEA; color: #6F6F6F; ">Action <br /> <i class="fa fa-floppy-o"> </i> </th>
                <th style="background-color: #EAEAEA; color: #6F6F6F; ">Image <br /> <i class="fa fa-picture-o"> </i> </th>
                <th style="background-color: #EAEAEA; color: #6F6F6F; ">Reset Password <br /> <i class="fa fa-unlock-alt"> </i> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)

            {
                <tr>

                    <td style="display:none;">@user.UserID</td>
                    <td>@user.Name</td>
                    @{
                        if ((int)Session["Role_Id"] == 1)
                        {
                            <td>@(user.LoginID.HasValue ? user.Login.Username : "N/A")</td>
                            @*<td>@(user.LoginID.HasValue ? user.Login.Password : "N/A")</td>*@
                        }
                    }

                    <td>@user.EmailID</td>

                    @{
                        if ((int)Session["Role_Id"] == 1)
                        {
                            <td>@(user.OfficeID.HasValue ? user.CgppOffice.Name : "N/A")</td>
                            <td>@(user.DivisionID.HasValue ? user.CgppDivision.Name : "N/A")</td>
                        }
                    }
                    <td>@user.DateAdded</td>

                    <td>
                        <button class="btn btn-default" style=" background-color: #5F67BE; font-weight: 800; color: white; border-radius: 20px; " onclick="location.href = '@Url.Action("Edit", "Manage", new {id = user.UserID})' ">EDIT   <span class="fa fa-pencil-square" style="color:black">  </span></button>
                    </td>
                    <td>
                        @if (user.FilePath == null)
                        {
                            <span> Image not set</span>
                        }
                        else
                        {

                            <img src="@user.FilePath" width="50" height="50" style="border-radius:50%" />
                        }

                    </td>
                    <td>
                        <p class="text-center">
                            <a href="#" target-id="@user.UserID" target-username="@(user.LoginID.HasValue ? user.Login.Username : "N/A")" class="btn btn-default btn-lg resetPass" role="button" data-toggle="modal" data-target="#login-modal" style=" background-color: #5F67BE;
                                font-weight: 800; color: white; border-radius: 20px;font-size:16px; ">Reset Passord <i class="fa fa-lock" style="color:black;"></i>  </a>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>





<div class="container">
    <div class="row">
    </div>
</div>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div  class="form-title" style=" width: 500px; background-color: #B4B4B4; height: 45px; color: black; font-weight: 800;"> RESET PASSWORD</div>
        <div class="modal-content">
            <div class="modal-header" align="center">
                @{

                    Html.RenderAction("ResetPasswordPicture", "Manage");
                }

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
            <div id="div-forms">

                <form id="resetform">
                    <div class="modal-body">

                        <div class="alert alert-info">
                            Please fill details to create a New Password
                        </div>




                        <input name="UserId" type="hidden" id="UserId" />
                        <input name="Username" id="Username" style="border: 1px solid black !important;" class="form-control" type="text" readonly required>
                        <input name="Password" id="" style="border: 1px solid black !important;" class="form-control" type="password" placeholder="Enter New Password " required>



                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="button" id="btnSave" class="btn btn-default btn-lg btn-block" style="border-radius: 20px; background-color: #5F67BE; color:white; ">SAVE CHANGES</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/lib/datatables.net-jqui/dataTables.jqueryui.css" rel="stylesheet" />
<link href="~/lib/datatables.net-jqui/dataTables.jqueryui.min.css" rel="stylesheet" />
<script src="~/lib/datatables.net/jquery.dataTables.js"></script>
<script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/toastr.min.js"></script>
<script src="~/Scripts/toastr.js"></script>
@section scripts {

    <script>
        $(document).ready(function () {
            var message = $('#Message').text();
            if (message !== '') {
                toastr.success('SAVE SUCCESSFULLY');
            }
            $('#draftList').dataTable({
                "order": [[0, "desc"]]
            });
            document.body.style.color = '#dd3e3e';


            $("#btnSave").click(function () {
                var resetformdata = $("#resetform").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Manage/ResetPassword",
                    data: resetformdata,
                    success: function () {
                        window.location.href ="/Manage/Userslist"
                    }
                });

            });

            $(".resetPass").click(function () {
                $("#Username").val($(this).attr("target-username"))
                $("#UserId").val($(this).attr("target-id"))
            });

        });

    </script>
}


